* {
	margin: 0;
	padding: 0;
	font-family: "Montserrat";
	list-style-type: none;
}
a {
	all: unset;
	cursor: pointer;
}
input {
	all: unset;
}
select {
	all: unset;
}

@font-face {
	font-family: Elsie_Swash_Caps_black;
	src: url("./fonts/Elsie_Swash_Caps/ElsieSwashCaps-Black.ttf");
}
@font-face {
	font-family: Elsie_Swash_Caps_regular;
	src: url("./fonts/Elsie_Swash_Caps/ElsieSwashCaps-Regular.ttf");
}

.elsie-black {
	font-family: Elsie_Swash_Caps_black;
}
